.slider {
    position: relative;
    margin: auto;
    overflow: hidden;
    width: 98%; 
}

.slides {
    display: flex;
}

.slide {
    width: 100%;
    display: none;
}

.displaySlide {
    display: block;
}

.controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1; 
}

.prev,
.next {
    background-color: rgba(255, 255, 255, 0.5); 
    border: none;
    color: black;
    padding: 10px;
    cursor: pointer;
}
